<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiacong.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="com.xiacong.model.domain.SysRole">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="roleCode" column="role_code" jdbcType="VARCHAR"/>
            <result property="parentRoleNo" column="parent_role_no" jdbcType="VARCHAR"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="delStatus" column="del_status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_code,parent_role_no,
        role_name,status,del_status,
        create_time,update_time,create_by,
        update_by
    </sql>
    <select id="selectAllByRoleCodes" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role
        where
        role_code in
        <foreach collection="roleCodeList" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </select>
    <select id="selectAllByDelStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role
        where
        del_status = #{delStatus,jdbcType=NUMERIC}
    </select>
</mapper>
